# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* To list popular languages in Data Science
* To list commonly used libraries by Data Scientists
* To list main integrated development environment tools for Data Scientists
* To demonstrate simple arithmetic calcualtions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Keras
5. TensorFlow

|Data Science Tools|
|:------------------:|
|Jupyter Notebooks (succeeded by Jupyter Lab)|
|RStudio|
|IBM Watson Studio Cloud|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Anna Didenko